.link {
  text-decoration: none;
  color: inherit;
}
.list-item1 {
  background: none;
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .list-item {
    width: 280px;
    margin-right: 20px;
  }
}
.thumbnail-image1 {
  width: 440px;
  height: 250px;
  border-radius: 8px;
}
.video-details1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.profile-image1 {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 20px;
}
.content-section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
}
.title1 {
  font-family: 'Roboto';
  font-size: 15px;
}
.channel-name1 {
  font-family: 'Roboto';
  font-size: 13px;
}
.views-and-date1 {
  font-family: 'Roboto';
  font-size: 12px;
}
